.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #1121214;
}
